.header
  グループを作成しました
.sidebar
  .sidebar__main
    test
    =link_to "", class: "sidebar__btn" do
      =fa_icon 'edit'
    =link_to "", class: "sidebar__btn" do
      =fa_icon 'cog'
  .sidebar__sub
    test-sub
  .sidebar__detail
    さようなら
  .sidebar__sub
    sample-group
  .sidebar__detail
    hello!
  .sidebar__sub
    example
  .sidebar__detail
    まだメッセージがありません
.contents

