.header
  グループを作成しました
.sidebar
  .sidebar__main
    = current_user.name
    =link_to new_group_path, class: "sidebar__btn" do
      =fa_icon 'edit'
    =link_to edit_user_path(current_user), class: "sidebar__btn" do
      =fa_icon 'cog'
  .sidebar__sub
    test-sub
  .sidebar__detail
    さようなら
  .sidebar__sub
    sample-group
  .sidebar__detail
    hello!
  .sidebar__sub
    example
  .sidebar__detail
    まだメッセージがありません

.contents
  .contents__main
    sample
    .contents__main--btn
      Edit
    .contents__main--user
      members seo neko

  .contents__sub
    test-user
  .contents__time
    =Time.now
  .contents__message
    こんにちは!
  .contents__text
    text-oooo 2019/09/13(Wed) 17:50:42
  .contents__text
    さようなら
.footer
  .footer__field
    type field
  =link_to '', class: "footer__field--image" do
    =fa_icon 'image'
  .footer__btn
    send