.wrapper
  
= render 'devise/shared/side_bar'

.contents
  .header
    .header__btn
      Edit
    .header__name
      sample
  
    .header__user
      members seo neko

  .message
    .message__user
      test-user
    .message__time

    .message__text
      こんにちは!  

-# .footer
-#   .footer__field
-#     type field
-#     .footer__field__icon
-#       =link_to '', class: "footer__field--image" do
-#         =fa_icon 'image'
-#   .footer__btn
-#     send