.contents {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  .header {
    border: 1px solid #eeeeee;
    &__name {
      padding: 35px 0 15px 40px;
      font-size: 20px;
      color: #333333;
    }
    &__user {
      font-size: 12px;
      color: #999999;
    }
    &__btn {
      display: inline-block;
      color: #38AEF0;
      border: solid 2px #38AEF0;
      border-radius: 3px;
      line-height: 40px;
      padding: 0 20px;
      float: right;
      margin: 28px 40px 0 0;
    }
  }

  .form {
    background-color: #999999;
    bottom: 0px;
    height: 90px;
    position: fixed;
    width: calc(100vw - 300px);
    right: 0;
    &__message {
      background-color: #fff;
      height: 50px;
      position: absolute;
      width: 80%;
      top: 20px;
      left: 50px;
      line-height: 50px;
      font-size: 16px;
      color: #434A54;
      border-radius: 3px;
      padding-left: 10px;
      &__image {
        float: right;
        position: absolute;
        right: 180px;
        top: 35px;
        color: #434A54;
      }
    }
    &__submit {
      display: inline-block;
      background-color: #38AEF0;
      color: #fff;
      border: solid 2px #38AEF0;
      border-radius: 3px;
      line-height: 50px;
      padding: 0 30px;
      float: right;
      margin-right: 40px ;
    }
  }
}